/* 
.box {
    height: 300px;
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: center;
    
    background-position: left, top, bottom 50px;
}
*/
body {
    height: 100vh;
    margin: 0;
  }
  .box {
    height: calc(100% + 20px);
    width: 100%;
    background-image: url(http://source.unsplash.com/random)
  }
  .box::after {
    content: "Mensagem... ";
    color: Blue;
  }